<!doctype html>
html(ng-app="")
    head
        title workroom

        != css("app")

        script(src="/socket.io/socket.io.js")
        != js("app")

    body.center
        div.header
            h1 workroom
        div.editor-container
            textarea#editor= content
            div.resize
        iframe#view
