<!doctype html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Workroom
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon" href="favicon.png")

        != css("app")

        if queue
            script.
                old_queue = !{queue}
        script.
            room_name = "!{id}"

        script(src="/socket.io/socket.io.js")

        != js("app")

    body.center
        div#particles-js
        .text
            div
                div
                    h1 workroom
                    a.btn start

        div.header
            a(href="")
                h1 workroom
        div.editor-container
            div#editor= content
            div.resize
        iframe#view.view
        // textarea.hide

